includes:
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - %rootDir%/../../../src
    ignoreErrors:
        - message: '#.*NodeDefinition::children.*#'
          path: ./src/DependencyInjection
